@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: archivo, sans-serif;
}

html {
    font-family: 'Poppins';
}

/* Header - Nav Menu */
header {
    background-color: #ffffff;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

.dropdown-menu {
    display: none;
}

.dropdown-menu .show {
    display: block !important;
}

.dropdown-toggle {
    font-weight: bold !important;
}

.dropdown-toggle::after {
    display: none;
}

.nav-item {
    margin: 0 15px;
}

.bxs-home {
    font-size: 30px;

}

.text-init{
    font-size: 15px;
}


.text-init li{
        margin: 0;
        padding: .5rem 0 0 2rem;
        margin-left: 1rem;
        list-style: none;
        background-image: url("../assets/list-li.webp");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 40px;
}

.clientes-drummer {
    font-size: 2rem !important;
}


.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #FCB710;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.wpp {
    background: #128c7e;
    border-radius: 60px;
    width: 60px;
    height: 60px;
}

.bxl-whatsapp {
    text-align: center;
    font-size: 2rem;
    background: white !;
}

.navbar-toggler {
    margin-right: 3rem;
}

.--bs-navbar-toggler-icon-bg {
    color: black;
}

.image-banner {
    background-image: url("../assets/1.Inicial.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    width: 100%;
    padding-bottom: 1rem;

}

.button-contat {
    border: 0;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.8);
    padding: .5rem;
    text-align: center;
    font-weight: bold;
    background: white;
    color: black;
    text-decoration: none;
}

.button-contat:hover {
    background: #FCB710;
    color: black;
}

.button-demonstration {
    border: 2px solid #FCB710;
    border-radius: 20px;
    background: white;
    color: #FCB710;
    padding: .5rem;
    text-decoration: none;
}

.button-demonstration:hover {
    color: black;
    background: #FCB710;
}

.cases {
    color: #FCB710;
}

.itens-carousel {
    max-width: 100px !important;
}

.card-body-img {
    max-width: 200px;
}

.img-item {
    border-radius: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.card {
    --bs-card-border-width: 0 !important;
}

.carousel-control-prev-icon {
    color: #FCB710 !important;
}

.bxs-chevron-left, .bxs-chevron-right {
    font-size: 4rem;
    color: #FCB710 !important;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.9);
}

.empresa-img {
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.naoexibir {
    display: none;
}


.fundo-form {
    background-image: url('../assets/fundoform.png') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.card-form {
    background: #FCB710;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    top: 15px;
    color: white;

}

.form-fundo {
    max-width: 600px;
    background: #ffffff;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);

}
.g-recaptcha {
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}
.aviso{
    font-size: 14px;
}

.col-form-label {
    padding: 0 !important;
}


.form-control {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
}

.form-control:focus {
    border: none;
}

.button-form {
    border: 0;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.8);
    padding: .5rem;
    text-align: center;
    font-weight: bold;
    background: black;
    color: white;
    text-decoration: none;
}

.button-form:hover {
    background: #FCB710;
    color: black;
}

.div-contato a {
    color: #000000;
    text-decoration: none;
}

.row-drummer {
    padding: 2rem;
}


.img-drummer {
    border: 1px solid gray;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.8);
}

.accordion-button{
    font-weight: bold;
}

.card-drummer {
    border: 1px solid gray;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.8);
    padding: 2rem;
    margin: 1rem;
    max-height: 225px;
    min-height: 225px;
}

.card-drummer-optar{
    margin: 0;
}

.card-drummer h2{
    font-size: min(24px, 2.5vw);
}

.card-drummer p{
    font-size: max(10px, 1.1vw);
}

.enum{
    display: flex;
    justify-content: center;
    padding: .5rem;
    width: 20%;
    border: 2px solid  #FCB710;
    border-radius: 100px;
}

.text-yellow{
    color:  #FCB710 !important;
}

footer {
    background: black;
    color: white;
}


/*Responsividade - Nav Menu  */
@media (min-width:768px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
    }

    .navbar-expand-lg .navbar-toggler {
        display: none;
    }

    .navbar-nav {
        flex-direction: row !important;
    }

    .mb-2 {
        margin-bottom: 0.5rem !important;
    }

    .me-auto {
        margin-right: auto !important;
    }

    .navbar-collapse {
        flex-grow: 1;
        align-items: center;
    }

    .wpp {
        margin-right: 3rem;
    }

}

@media only screen and (max-width: 767px) {
    .navbar-expand-lg .navbar-collapse {
        flex-basis: 100% !important;
    }

    .nav-item {
        padding: 1rem !important;
        grid-row-end: auto;
    }

    .card-body {
        justify-content: center !important;
    }

    .img-item {
        width: 350px !important;
    }
    .card-drummer {
        min-height: 150px;
    }
    .text-init ul{
        padding-left: 0 !important;
    }
    .clientes-drummer{
        font-size: 1.5rem !important;
    }
    .card-drummer h2{
        font-size: 1rem;
    }
    .card-drummer p{
        font-size: .8rem;
    }

    .card-form{
        top: 25px !important;
        padding: 0.2rem !important;
    }

    .card-form h4{
        font-size: .9rem !important;
        margin-bottom: 0 !important;
    }

    .col-form-label{
        font-size: .8rem !important;
        padding-top: .9rem !important;
    }

    .form-control{
        padding: 0 0.75rem !important;
    }

    .form-fundo{
        max-height: 550px !important;
    }

    .fundo-form{
        height: 700px !important;
    }

    .div-contato h5,.div-contato i{
        font-size: 1rem !important;
    }

    footer{
        font-size: .8rem;
    }
    
}

@media only screen and (min-width: 767px) and (max-width: 1084px) {
    .nav-toggler-icon {
        background-image: url('../assets/fundopi.png') !important;
    }
}

@media only screen and (max-width: 1084px) {
    .nav-link {
        font-size: 13px !important;
    }
}

@media screen and (max-width:1200px) {
    .img-item {
        width: 300px;
    }

}

@media screen and (min-width: 1200px) and (max-width:1400px) {
    .img-item {
        width: 350px;
    }

}



@media screen and (max-width: 941px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        padding: 0 !important;
        margin: 0 !important;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }
}

@media only screen and (min-width: 1187px) {
    .iconhome {
        margin-right: 100px !important;
    }
}

@media only screen and (max-width: 1023px) {
    .text-init {
        font-size: small;
    }
}

@media only screen and (max-width: 320px) {
    .button-form {
        font-size: .8rem !important;
    }
}
