@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:'Poppins';
}
/* Header - Nav Menu */
.navbar{
    background: white !important;
}

.navbar-expand-lg .navbar-collapse {
    flex-basis: auto !important;
}


.nav-item {
    padding: 0 3rem !important;
}

.nav-link{
    color: #2c2c2c;
    font-weight: 500;
    padding: 0 3rem;
}

.nav-link:hover{
    color: #FCB710 !important;
}
a .logo{
    width: 100%;
}
.wpp{
    background: #128c7e;
    border-radius: 40px;
    width: 50px;
    height: 50px;
}
.bxl-whatsapp{
    text-align: center;
    font-size: 2rem;
}

.navbar-toggler{
    margin-right: 3rem;
}
.--bs-navbar-toggler-icon-bg{
    color:black ;
}

.image-banner{
    background-image: url("assets/1.Inicial.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    width: 100%;
    padding-bottom: 1rem;

}

.button-contat{
    border: 0;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.8);
    padding: .5rem;
    text-align: center;
    font-weight: bold;
    background: white;
    color: black;
    text-decoration: none;
}
.button-contat:hover{
    background:  #FCB710;
    color: black;
}

.button-demonstration{
    border: 2px solid #FCB710;
    border-radius: 20px;
    background: white;
    color: #FCB710;
    padding: .5rem;
    text-decoration: none;
}

.button-demonstration:hover{
    color: black;
    background: #FCB710;
}
.cases{
    color: #FCB710;
}

.itens-carousel{
    max-width: 100px !important;
}
.card-body-img{
    max-width: 200px;
} 
.img-item{
    max-width: 290px !important;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.card{
    --bs-card-border-width: 0 !important;
}
.carousel-control-prev-icon{
   color: #FCB710 !important;
}
.bxs-chevron-left, .bxs-chevron-right{
        font-size: 4rem;
        color: #FCB710 !important;
        text-shadow: 0 5px 5px rgba(0, 0, 0, 0.9);
}

.empresa-img{
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

footer{
    background: black;
    color: white;
}

/*Responsividade - Nav Menu  */
@media (min-width:768px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
    }

    .navbar-expand-lg .navbar-toggler {
        display: none;
    }

    .navbar-nav {
        flex-direction: row !important;
    }

    .mb-2 {
        margin-bottom: 0.5rem !important;
    }

    .me-auto {
        margin-right: auto !important;
    }

    .navbar-collapse {
        flex-grow: 1;
        align-items: center;
    }
    .wpp{
        margin-right: 3rem;
    }

}

@media only screen and (max-width: 767px) {
    .navbar-expand-lg .navbar-collapse {
        flex-basis: 100% !important;
    }
    .nav-item{
        padding: 1rem !important;
        grid-row-end: auto;
    }
}

